{% extends "nickjwilde/base.html" %}

{% load static %}
{% block head %}
    <title>About</title>
{% endblock %}

{% block body %}
    <h1>About Me</h1>
    <p>I'm a Software Developer.</p>
    <h2>Skills</h2>
    <div class="skill-list">
    {% for skill in skills %}
        <div class="skill">
            <img src="static/nickjwilde/img/{{ skill.image_name}}" />
            <div class="overlay">
                <div class="years">{{ skill.num_years_text}}</div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
