<!DOCTYPE html>
<html>
<head>
    {% load static %}

	<link href={% static "nickjwilde/css/style.css" %} type="text/css" rel="stylesheet" />

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block nav %}
		<ul class="nav">
			<li class="nav-item active"><a href="#">Home</a></li>
			<li class="nav-item"><a href="#">About</a></li>
			<li class="nav-item"><a href="#">Contact</a></li>
			<li class="nav-item"><a href="#">Other</a></li>
		</ul>
    {% endblock %}

    <div id="main-body">
        {% block body %}
        {% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock %}
        <p>&copy; 2017 Nick Wilde</p>
    </div>

</body>
</html>
