{% extends "nickjwilde/base.html" %}
{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>
        <span class="uline-h">Hello World</span>
    </h1>
    <p>Welcome to my personal website. I built this website to learn more about HTML, CSS, Javascript/jQuery and Python/Django. I love to learn new things, and you can always see the things I've learned on the <a style="text-decoration: none" href="#">Posts</a> page. If you'd like to know the skills I've acquired while programming, checkout the <a style="text-decoration: none" href="{% url 'nickjwilde:about' %}">About</a> page. If you'd like to get in touch with me, use the <a style="text-decoration: none" href="{% url 'nickjwilde:contact' %}">Contact</a> page.</p>
{% endblock %}
