/*
    Author: Nick Wilde

    Contents:
        - Elements
        - Classes
        - IDs
        - Responsive

    Organization of each element:
        1. Sizing
        2. Boxing
        3. Positioning
        4. Coloring
        5. Special
*/

/* Elements */
html {
	box-sizing: border-box
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

html, body {
	font-size: 15px;
	line-height: 1.5;
}


/* End Elements*/

/* Classes */
.nw-navbar {
	width: 100%;
	overflow: hidden;
}

.nw-top {
	top: 0;
}

.nw-top, .nw-bottom {
	position: fixed;
	width: 100%;
	z-index: 1;
}
/* End Classes */