/*
    Author: Nick Wilde

    Contents:
        - Elements
        - Classes
        - IDs
        - Responsive

    Organization of each element:
        1. Coloring
        2. Boxing
        3. Positioning
        4. Sizing
        5. Other
*/

/* Elements */
body{
	margin: 0;
	padding-bottom: 6rem;

    position: relative;

    min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #d84c00;

	min-width:150px;

	font-family: Consolas, Lucida Console;
}

html {
    height: 100%;
}

/* Classes */
.nav {
	color: #222222;

	border-bottom: solid #0088d8 2px;
	margin: 0 auto;
	padding: 0;

	max-width: 600px;
	width: 60%;

	list-style-type: none;
	overflow: hidden;
}

.nav-item {
	float: left;

	max-width: 150px;
	width: 25%;
}

.nav-item a {
	color: #222222;

	padding: 14px 16px;

	display: block;
	text-align: center;
	text-decoration: none;
}

.nav-item a:hover {
    background-color: #0088d8;
    color: white;
    box-shadow: 0 4px 6px 0 grey,
        0 4px 20px 0 grey
}

.nav-item.active a{
	border-bottom: solid #0088d8 2px;
}

.side-nav {
	float: left;
	list-style-type: none;
}

.uline-h {
	border-bottom: solid 2px #d84c00;
	padding-bottom: 5px;
}

/* IDs */
#main-body {
	margin: 0 auto;
    padding-top: 40px;

	width: 60%;
}


#footer {
    color: white;
    background-color: #2687bf;

    padding: 1rem;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
}

/* Responsive */
@media only screen and (max-width: 570px){
    .nav {
        position: fixed;

        width: 100%;
        background-color: #0088d8;
    }

    .nav-item {
        display: none;
        float: none;
        max-width: none;
        width: 100%;
    }
    
    .nav-item a {
        color: white;
    }

    .nav-item a:hover {
        box-shadow: none;
    }
    
    .stacked-menu {
        display: block;
        cursor: pointer;
    }

    .stacked-bar {
        background-color: white;
        height: 3px;
        width: 32px;
        margin: 6px auto;
    }

    .visible {
        display: block;
    }
}

@media only screen and (min-width: 571px){
    .stacked-menu {
        display: none;
    }
}
